body {
    background-image: url('/assets/background3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-color:#182023;
    
}

input:hover {
    cursor: pointer;
}

button:hover {
    cursor: pointer;
}

.warningText {
    font-weight: bold;
    color: red;
}